.item--title__container {
	display: flex;
	padding-left: 15%;
	padding-right: 15%;
	width: 100%;
	height: 150px;
	background-color: rgb(252, 252, 252);
	align-items: center;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
}

.item--title__image {
	width: 35px;
	height: 35px;
}

.item--title__name {
	font-size: 35px;
	margin-left: 10px;
	font-family: var(--font);
}

.item--title__symbol {
	background-color: rgb(235, 235, 235);
	color: rgb(100, 100, 100);
	font-size: 15px;
	margin-left: 10px;
	padding: 3px 5px;
	border-radius: 5px;
	font-family: var(--font);
	width: fit-content;
}

.item--title__rank {
	background-color: rgb(235, 235, 235);
	color: rgb(100, 100, 100);
	font-size: 15px;
	margin-top: 7px;
	padding: 3px 5px;
	border-radius: 5px;
	width: fit-content;
	font-family: var(--font);
}
.item--info__row {
	display: flex;
	align-items: center;
}

.item--info__container {
	width: 20%;
}

.item--price__container {
	width: 25%;
	font-family: var(--font);
	font-size: 20px;
	text-align: right;
}

.item--number__container {
	display: flex;
	margin-left: auto;
	width: 80%;
}

.item--price-desc {
	font-size: 13px;
	margin-bottom: 5px;
	color: rgb(100, 100, 100);
}

.item--percentage {
	background-color: #16c784;
	padding: 5px 10px;
	color: white;
	width: fit-content;
	margin-left: auto;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 3px;
}

.item--percentage__negative {
	background-color: #ea3943;
	padding: 5px 10px;
	color: white;
	width: fit-content;
	margin-left: auto;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 3px;
}

.chart--container {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 35px;
	display: flex;
	width: 70%;
}

.chart--info {
	width: 30%;
	height: 300px;
	margin-left: auto;
}

.chart {
	width: 65%;
}

.stat--title__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	background-color: white;
	border: 2px solid rgb(245, 245, 245);
	border-radius: 10px;
}

.stat--name__symbol {
	width: 70%;
	margin-left: 20px;
}

.stat--symbol {
	font-size: 13px;
	color: grey;
}

.stat--name {
	font-size: 20px;
}

.stat-title {
	font-size: 28px;
	padding-top: 15px;
	margin-left: 15px;
}

.stat--second__container {
	background-color: white;
	border: 2px solid rgb(245, 245, 245);
	border-radius: 10px;
	margin-top: 15px;
}

.stat--row {
	display: flex;
	margin: 30px 15px;
}

.stat--secondary {
	margin-left: auto;
	font-size: 17px;
	color: rgb(50, 50, 50);
	text-align: right;
}

.stat--primary {
	color: rgb(50, 50, 50);
	font-size: 17px;
}

.stat--percent__positive {
	color: #16c784;
	margin-top: 5px;
}

.stat--percent__negative {
	color: #ea3943;
	margin-top: 5px;
}

.chart--buttons {
	margin: 25px 0px;
	display: flex;
}

.chart--buttons__row2 {
	margin-left: auto;
}

.chart--button {
	outline: none;
	border: 1px solid rgb(245, 245, 245);
	background-color: white;
	cursor: pointer;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.1s linear;
}

.chart--button:hover {
	background-color: rgb(245, 245, 245);
	transition: all 0.1s linear;
}

.chart--button__selected {
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(245, 245, 245);
	transition: all 0.1s linear;
	outline: none;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.1s linear;
}
